<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>18/09/09 12:24:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runtest.setData()[pri:0, instance:bankBazaar.Runtest@1c6f14e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7377811</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/09 12:24:29</td>   <td>-938</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:bankBazaar.Runtest@1c6f14e]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7377811</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/09 12:24:31</td>   <td>1885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:bankBazaar.Runtest@1c6f14e]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@7377811</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/09 12:25:53</td>   <td>83816</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:bankBazaar.Runtest@1c6f14e]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7377811</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/09 12:24:31</td>   <td>1915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtest.testcase(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bankBazaar.Runtest@1c6f14e]">testcase</td> 
  <td>main@7377811</td>   <td></td> </tr>
</table>
