<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>18/09/09 10:05:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runtest.setData()[pri:0, instance:bankBazaar.Runtest@c273d3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7090514</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/09 10:05:01</td>   <td>-1013</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:bankBazaar.Runtest@c273d3]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7090514</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/09 10:05:02</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:bankBazaar.Runtest@c273d3]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@7090514</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/09 10:07:15</td>   <td>132417</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:bankBazaar.Runtest@c273d3]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7090514</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/09/09 10:05:02</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runtest.testcase()[pri:0, instance:bankBazaar.Runtest@c273d3]">testcase</td> 
  <td>main@7090514</td>   <td></td> </tr>
</table>
